<li><%= link_to t(".brokerbasket"), brokerbasket_players_path %></li>
<li><%= link_to t(".comparador"), comparar_players_path %></li>
<li><%= link_to t(".trending_players"), historico_players_path %></li>
<li><%= link_to t(".players_supermanager"), temporada_players_path %></li>
<li><%= link_to t(".teams"), teams_path %></li>
<li><%= link_to t(".games"), games_path %></li>