%h4="Leyenda"

%table.table.table-responsive.leyenda
  %tr
    %td 
      %strong= "MIN: "
      = "Minutos jugados"
    %td 
      %strong= "PT: "
      = "Puntos Totales"
    %td 
      %strong= "2P: "
      = "Tiros de 2 Puntos"
    %td 
      %strong= "3P: "
      = "Tiros de 3 Puntos"
  %tr
    %td 
      %strong= "1P: "
      = "Tiros Libres"
    %td 
      %strong= "REB: "
      = "Rebotes Totales"
    %td 
      %strong= "A: "
      = "Asistencias"
    %td 
      %strong= "BR: "
      = "Balones Recuperados"
  %tr
    %td 
      %strong= "BP: "
      = "Balones Perdidos"
    %td 
      %strong= "C: "
      = "Contrataques"
    %td 
      %strong= "TAP: "
      = "Tapones"
    %td 
      %strong= "M: "
      = "Mates"
  %tr
    %td 
      %strong= "FP: "
      = "Faltas Personales"
    %td 
      %strong= "C: "
      = "Faltas Recibidas"
    %td 
      %strong= "VAL: "
      = "Valoración"
    %td 
      %strong= "SM: "
      = "Puntos SuperManager"