%h3= t('.title', round: @round)
%ul.nav.nav-tabs{:role => "tablist"}
  - @positions.each do |position|
    %li{:class => ("active" if position == @position)}
      = link_to t(position).pluralize.humanize, {:controller => "players", :action => "mejores_jornada", :field => @field, :position => position, :num_rounds => @num_rounds}
  
.tab-content
  - @positions.each do |position|
    .tab-pane{:id => "tabs-#{position}", :class => ("active" if position == @position)}
      - if position == @position
        .table-responsive
          %table.table.statistic
            %thead
              %tr
                %th
                %th= t('jugador')
                %th= t('price')
                %th= link_to t("SM"), {:controller => "players", :action => "mejores_jornada", :field => "sm", :position => position}, class: 'btn btn-info optimizar'
                %th= link_to t("valoracion"), {:controller => "players", :action => "mejores_jornada", :field => "v", :position => position}, class: 'btn btn-info optimizar'
                %th= link_to t("puntos"), {:controller => "players", :action => "mejores_jornada", :field => "pt", :position => position}, class: 'btn btn-info optimizar'
                %th= link_to t("rebotes"), {:controller => "players", :action => "mejores_jornada", :field => "reb", :position => position}, class: 'btn btn-info optimizar'
                %th= link_to t("asistencias"), {:controller => "players", :action => "mejores_jornada", :field => "a", :position => position}, class: 'btn btn-info optimizar'
                %th= link_to  t("triples"), {:controller => "players", :action => "mejores_jornada", :field => "t3", :position => position}, class: 'btn btn-info optimizar'

            %tbody
              - @best_players.each do |player|
                = render partial: "players/mejores_jornada_player", locals: {player: @indexed_players[player[:player_id]], round: @round, statistic: player[:statistic], sum: player[:sum], field: @field }
