%h3= t('.title')
%ul.nav.nav-tabs{:role => "tablist"}
  - @positions.each do |position|
    %li{:class => ("active" if position == @position)}
      = link_to t(position).pluralize.humanize, {:controller => "players", :action => "temporada", :field => @field, :position => position, :num_rounds => @num_rounds}

.tab-content
  - @positions.each do |position|
    .tab-pane{:id => "tabs-#{position}", :class => ("active" if position == @position)}
      - if position == @position
        .table-responsive
          %table.table.table-striped.statistic
            %thead
              %tr
                %th{colspan: "#{@num_rounds+4}"}
                  .col-xs-12
                    = t('.datos')
                    %br
                    = link_to "sm", {:controller => "players", :action => "temporada", :field => "sm", :position => position, :num_rounds => @num_rounds}, { class:[ (:important if @field == "sm"), "btn btn-info" ] }
                    = link_to "v", {:controller => "players", :action => "temporada", :field => "v", :position => position, :num_rounds => @num_rounds}, { class:[ (:important if @field == "v"), "btn btn-info" ] }
                    = link_to "pt", {:controller => "players", :action => "temporada", :field => "pt", :position => position, :num_rounds => @num_rounds}, { class:[ (:important if @field == "pt"), "btn btn-info" ] }
                    = link_to "reb", {:controller => "players", :action => "temporada", :field => "reb", :position => position, :num_rounds => @num_rounds}, { class:[ (:important if @field == "reb"), "btn btn-info" ] }
                    = link_to "a", {:controller => "players", :action => "temporada", :field => "a", :position => position, :num_rounds => @num_rounds}, { class:[ (:important if @field == "a"), "btn btn-info" ] }

              %tr
                %th
                %th= t('player')
                %th= t('price')
                %th= t('.played_games')
                %th= t('.minutos_totales')
                %th= t('.minutos_por_partido')
                %th= t('total')
                %th= t('promedio')
                %th= t('.por_40_min')

            %tbody
              - @temporada_players.each do |player|
                = render partial: "players/temporada_players", locals: {player: @indexed_players[player[:player_id]], round: @round, statistic: player[:statistic], sum: player[:sum] }
